LocalizaV1/TestProject1/Service References/UbicacionService/UbicacionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LocalizaV1.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LocalizaV1.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Ubicacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="idEnvio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTransporte" type="xs:int" />
      <xs:element minOccurs="0" name="latitud" type="xs:double" />
      <xs:element minOccurs="0" name="longitud" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ubicacion" nillable="true" type="tns:Ubicacion" />
</xs:schema>