trunk/Localiza-VB/Localiza-VB/Service References/EnviosService/EnviosSVC1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/REST.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/REST.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Envio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinoFin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinoInicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEnvio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdTransporte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Peso" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Envio" nillable="true" type="tns:Envio" />
  <xs:complexType name="ArrayOfEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Envio" nillable="true" type="tns:Envio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEnvio" nillable="true" type="tns:ArrayOfEnvio" />
</xs:schema>