trunk/Localiza-VB/Localiza-VB/Service References/EnviosService/EnviosSVC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EnviosSVC" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:31030/EnviosSVC.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:31030/EnviosSVC.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:31030/EnviosSVC.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/REST.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEnviosSVC_CrearEnvio_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearEnvio" />
  </wsdl:message>
  <wsdl:message name="IEnviosSVC_CrearEnvio_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearEnvioResponse" />
  </wsdl:message>
  <wsdl:message name="IEnviosSVC_ObtenerEnvio_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEnvio" />
  </wsdl:message>
  <wsdl:message name="IEnviosSVC_ObtenerEnvio_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEnvioResponse" />
  </wsdl:message>
  <wsdl:message name="IEnviosSVC_EliminarEnvio_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarEnvio" />
  </wsdl:message>
  <wsdl:message name="IEnviosSVC_EliminarEnvio_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarEnvioResponse" />
  </wsdl:message>
  <wsdl:message name="IEnviosSVC_ListarEnvios_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEnvios" />
  </wsdl:message>
  <wsdl:message name="IEnviosSVC_ListarEnvios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEnviosResponse" />
  </wsdl:message>
  <wsdl:portType name="IEnviosSVC">
    <wsdl:operation name="CrearEnvio">
      <wsdl:input wsaw:Action="http://tempuri.org/IEnviosSVC/CrearEnvio" message="tns:IEnviosSVC_CrearEnvio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEnviosSVC/CrearEnvioResponse" message="tns:IEnviosSVC_CrearEnvio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEnvio">
      <wsdl:input wsaw:Action="http://tempuri.org/IEnviosSVC/ObtenerEnvio" message="tns:IEnviosSVC_ObtenerEnvio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEnviosSVC/ObtenerEnvioResponse" message="tns:IEnviosSVC_ObtenerEnvio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarEnvio">
      <wsdl:input wsaw:Action="http://tempuri.org/IEnviosSVC/EliminarEnvio" message="tns:IEnviosSVC_EliminarEnvio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEnviosSVC/EliminarEnvioResponse" message="tns:IEnviosSVC_EliminarEnvio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarEnvios">
      <wsdl:input wsaw:Action="http://tempuri.org/IEnviosSVC/ListarEnvios" message="tns:IEnviosSVC_ListarEnvios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEnviosSVC/ListarEnviosResponse" message="tns:IEnviosSVC_ListarEnvios_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEnviosSVC" type="tns:IEnviosSVC">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearEnvio">
      <soap:operation soapAction="http://tempuri.org/IEnviosSVC/CrearEnvio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEnvio">
      <soap:operation soapAction="http://tempuri.org/IEnviosSVC/ObtenerEnvio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarEnvio">
      <soap:operation soapAction="http://tempuri.org/IEnviosSVC/EliminarEnvio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEnvios">
      <soap:operation soapAction="http://tempuri.org/IEnviosSVC/ListarEnvios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EnviosSVC">
    <wsdl:port name="BasicHttpBinding_IEnviosSVC" binding="tns:BasicHttpBinding_IEnviosSVC">
      <soap:address location="http://localhost:31030/EnviosSVC.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>