Localiza-VB/Localiza-VB/Service References/EnviosService/EnviosSVC.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:31030/EnviosSVC.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/REST.Dominio" />
  <xs:element name="CrearEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/REST.Dominio" minOccurs="0" name="envioACrear" nillable="true" type="q1:Envio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearEnvioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/REST.Dominio" minOccurs="0" name="CrearEnvioResult" nillable="true" type="q2:Envio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEnvio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEnvioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/REST.Dominio" minOccurs="0" name="ObtenerEnvioResult" nillable="true" type="q3:Envio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEnvio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEnvioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarEnvioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEnvios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEnviosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/REST.Dominio" minOccurs="0" name="ListarEnviosResult" nillable="true" type="q4:ArrayOfEnvio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>