LocalizaV1/TestProject1/Service References/ContraseñaService/CambiarContraseña.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CambiarContraseña" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49202/Contraseña.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49202/Contraseña.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContraseña_CambContraseña_InputMessage">
    <wsdl:part name="parameters" element="tns:CambContraseña" />
  </wsdl:message>
  <wsdl:message name="IContraseña_CambContraseña_OutputMessage">
    <wsdl:part name="parameters" element="tns:CambContraseñaResponse" />
  </wsdl:message>
  <wsdl:message name="IContraseña_ValidaContraseñaActual_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidaContraseñaActual" />
  </wsdl:message>
  <wsdl:message name="IContraseña_ValidaContraseñaActual_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidaContraseñaActualResponse" />
  </wsdl:message>
  <wsdl:portType name="IContraseña">
    <wsdl:operation name="CambContraseña">
      <wsdl:input wsaw:Action="http://tempuri.org/IContraseña/CambContraseña" message="tns:IContraseña_CambContraseña_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContraseña/CambContraseñaResponse" message="tns:IContraseña_CambContraseña_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidaContraseñaActual">
      <wsdl:input wsaw:Action="http://tempuri.org/IContraseña/ValidaContraseñaActual" message="tns:IContraseña_ValidaContraseñaActual_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContraseña/ValidaContraseñaActualResponse" message="tns:IContraseña_ValidaContraseñaActual_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IContraseña" type="tns:IContraseña">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CambContraseña">
      <soap:operation soapAction="http://tempuri.org/IContraseña/CambContraseña" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaContraseñaActual">
      <soap:operation soapAction="http://tempuri.org/IContraseña/ValidaContraseñaActual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CambiarContraseña">
    <wsdl:port name="BasicHttpBinding_IContraseña" binding="tns:BasicHttpBinding_IContraseña">
      <soap:address location="http://localhost:49202/Contrase%C3%B1a.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>